<div class="dialog-new-password">
  <h2 mat-dialog-title>{{data.title || ''}}</h2>
  <div mat-dialog-content>
    <app-change-password
      [userData]="data"
      (closeDialogDialogNewPassword)="closeClick()"
    >
    </app-change-password>
  </div>

<!--  <div mat-dialog-actions align="end" class="dialog-confirm__actions">-->
<!--    <button mat-button [mat-dialog-close]="1">{{data.cancelText || 'Cancel'}}</button>-->
<!--    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{data.okText || 'Ok'}}</button>-->
<!--  </div>-->

</div>
