<div class="dialog">

  <div>
    <div class="dialog__header">
      <div class="dialog__title">{{this.currentUser ? this.currentUser.firstName : 'Add User'}}</div>

      <div class="dialog__avatar">
        <label class="hoverable" for="fileInput">
          <img [src]="avatarUrl ? avatarUrl : avatarImageDefault">
          <div class="hover-text">Choose file</div>
          <div class="background"></div>
        </label>
        <br/>
        <input
          name="fileInput"
          id="fileInput"
          type='file'
          accept="image/*"
          (change)="handleImageLoaded($event)">
      </div>
      <button *ngIf="avatarUrl"
              mat-icon-button
              (click)="deleteAvatar()"
              class="dialog__iconClose"
              tabindex="-2"
              matTooltip="Delete avatar">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <form [formGroup]="userForm" novalidate (ngSubmit)="onSubmitUser()" class="example-form">
      <div mat-dialog-content>

        <mat-form-field color="accent" class="example-full-width">
          <input matInput #email class="form-control" placeholder="Email" formControlName="email"
                 name="email"
                 maxlength="50" required>
          <mat-hint align="end">{{email.value.length || 0}}/50</mat-hint>
          <mat-error *ngIf="userForm.controls['email'].hasError('required')">
            Email <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field color="accent" class="example-full-width">
          <input matInput #firstName class="form-control" placeholder="First Name" formControlName="firstName"
                 name="firstName"
                 maxlength="50" required>
          <mat-hint align="end">{{firstName.value.length || 0}}/50</mat-hint>
          <mat-error *ngIf="userForm.controls['firstName'].hasError('required')">
            First Name <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field color="accent" class="example-full-width">
          <input matInput #lastName class="form-control" placeholder="Last Name" formControlName="lastName"
                 name="lastName"
                 maxlength="50" required>
          <mat-hint align="end">{{lastName.value.length || 0}}/50</mat-hint>
          <mat-error *ngIf="userForm.controls['lastName'].hasError('required')">
            Last Name <strong>required</strong>
          </mat-error>
        </mat-form-field>

<!--        <mat-form-field color="accent" class="example-full-width">-->
<!--          <input matInput #role class="form-control" placeholder="Role" formControlName="role"-->
<!--                 name="role"-->
<!--                 maxlength="50" required>-->
<!--          <mat-hint align="end">{{role.value.length || 0}}/50</mat-hint>-->
<!--          <mat-error *ngIf="userForm.controls['role'].hasError('required')">-->
<!--            Role <strong>required</strong>-->
<!--          </mat-error>-->
<!--        </mat-form-field>-->


<!--        <mat-form-field color="accent" class="example-full-width">-->
<!--          -->
<!--          <input matInput #role class="form-control" placeholder="Role" formControlName="role"-->
<!--                 name="role"-->
<!--                 maxlength="50" required>-->
<!--          -->
<!--          <mat-hint align="end">{{role.value.length || 0}}/50</mat-hint>-->
<!--          <mat-error *ngIf="userForm.controls['role'].hasError('required')">-->
<!--            Role <strong>required</strong>-->
<!--          </mat-error>-->
<!--        </mat-form-field>-->


        <mat-form-field color="accent" class="example-full-width">

          <mat-label>Roles</mat-label>
          <mat-select formControlName="role">
            <mat-option *ngFor="let role of rolesList" [value]="role.id">
              {{role.viewValue}}
            </mat-option>
          </mat-select>

        </mat-form-field>


        <mat-form-field color="accent" class="example-full-width">

          <mat-label>Country</mat-label>
          <mat-select formControlName="location">
            <mat-option *ngFor="let country of countriesList" [value]="country.name">
              {{country.name}}
            </mat-option>
          </mat-select>

        </mat-form-field>





        <mat-form-field color="accent" class="example-full-width">
          <input type="password" matInput #password class="form-control" placeholder="Password"
                 formControlName="password" autocomplete="off" [type]="hide ? 'password' : 'text'"
                 name="password"
                 maxlength="50" required>
          <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon class="password-icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint align="end">{{password.value.length || 0}}/50</mat-hint>
          <mat-error *ngIf="userForm.controls['password'].hasError('required')">
            Password <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <p>
          <mat-checkbox formControlName="status">Status - {{ userForm.value.status == true ? 'Active' : 'Deactivated' }}</mat-checkbox>
        </p>

      </div>

      <div mat-dialog-actions class="dialog__actions">
        <button mat-raised-button color="primary"
                type="submit"
                [disabled]="!userForm.valid"
                [mat-dialog-close]="true">
          {{this.data.newUser ? 'Create' : 'Update'}}
        </button>
        <button mat-raised-button color="accent"
                type="button"
                [mat-dialog-close]="1"
                (click)="closeClick()"
                tabindex="-1">Cancel
        </button>
      </div>
    </form>

  </div>

</div>

