<mat-card class="post">
  <mat-card-header class="post__header">
    <div class="post__description">
      <h2 class="post__title">{{post.title}}</h2>
      <div class="post__subTitle">Created: {{post.createdAt | date: "d/M/yy"}}</div>
      <div class="post__subTitle">Updated: {{post.updatedAt | date: "d/M/yy"}}</div>
      <div class="post__subTitle">Author: {{post.user ? post.user.firstName : ''}} {{post.user ? post.user.lastName : ''}}</div>
    </div>

    <div class="post__img">
      <img *ngIf="post.picture" [src]="post.picture">
    </div>

  </mat-card-header>
  <mat-card-content>
    <p>{{post.description}}</p>
    <p>{{post.content}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button class="material-icons app-toolbar-menu save-button"
            matTooltip="Edit" color="primary"
            (click)="openDialogEditPost(post.id)">
      <mat-icon>edit</mat-icon>
    </button>

    <button mat-icon-button class="material-icons app-toolbar-menu delete-button"
            matTooltip="Delete" color="warn"
            (click)="openDialogDeletePost(post)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
