<div>
  <mat-card class="post-statistics">
    <mat-card-header>
      <mat-card-title>Post Statistics</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="post-statistics__description">
        <div class="post-statistics__description-title">Total Posts</div>
        <div class="post-statistics__description-value">{{ postsCounters.totalPosts }}</div>
      </div>


      <div class="post-statistics__charts">

        <div class="post-statistics__chart">
          <canvas baseChart
                  [datasets]="categoryChartData"
                  [labels]="categoryChartLabels"
                  [options]="chartOptions"
                  [legend]="true"
                  [type]="'doughnut'">
          </canvas>
        </div>

        <div class="post-statistics__chart">
          <canvas baseChart
                  [datasets]="roleChartData"
                  [labels]="roleChartLabels"
                  [options]="chartOptions"
                  [legend]="true"
                  [type]="'doughnut'">
          </canvas>
        </div>
      </div>

      <div class="post-statistics__item"></div>



      <div class="post-statistics__chart">
        <canvas baseChart
                [datasets]="userChartData"
                [labels]="userChartLabels"
                [options]="chartOptions"
                [legend]="true"
                [type]="'bar'">
        </canvas>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<mat-progress-spinner
  *ngIf="dataLoading"
  color="primary"
  diameter="70"
  mode="indeterminate"
  class="posts-spinner">
</mat-progress-spinner>
