<div>
  <mat-card class="post-statistics">
    <mat-card-header>
      <mat-card-title>Users Statistics</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="post-statistics__description-items">
        <div class="post-statistics__description-title">Total Users: {{ statisticsUsers.totalUser }}</div>
        <!--        <div class="post-statistics__description-status">Published Posts: {{ getPublishedPostsCount() }}</div>-->
      </div>

      <div class="post-statistics__charts">
        <div class="post-statistics__chart">
          <canvas baseChart
                  [datasets]="usersByRoleChartData"
                  [labels]="usersByRoleChartLabels"
                  [options]="usersByRoleCartOptions"
                  [legend]="true"
                  [type]="'doughnut'">
          </canvas>
        </div>

        <div class="post-statistics__chart">
          <canvas baseChart
                  [datasets]="usersByStatusChartData"
                  [labels]="usersByStatusChartLabels"
                  [options]="usersByStatusCartOptions"
                  [legend]="true"
                  [type]="'doughnut'">
          </canvas>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</div>


<mat-progress-spinner
  *ngIf="dataLoading"
  color="primary"
  diameter="70"
  mode="indeterminate"
  class="posts-spinner">
</mat-progress-spinner>
