:host {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.field-full-width {
  width: 100%;
}

.mat-form-field {
  width: 100%;
  min-width: 400px;
}
